@import url("https://fonts.googleapis.com/css2?family=Asap:wght@200;300;400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Asap", sans-serif;
}

:root {
  --bg-color: #2b2d42;
  --fg-color: #8d99ae;
  --text-color: #edf2f4;
  --error-color: #d90429;
}
