.searchContainer {
}

.searchForm {
  display: grid;
  width: 100%;
  min-height: 100vh;
}

.logo {
  width: 17em;
  margin: 1em;
  margin-left: 3em;
}

.centerContainer {
  margin-top: -40%;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.searchInput {
  font-size: 18px;
  width: 20em;
  height: 2em;
  background-color: var(--fg-color);
  /* border: 2px solid #292929; */
  border: none;
  border-radius: 50px;
  color: var(--text-color);
  /* box-shadow: black 5px 5px; */
  padding: 3px 10px;
}

.searchInput::placeholder {
  color: var(--text-color);
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  border: none;
  background-color: white;
  cursor: pointer;
}

.searchImage {
  width: 2em;
  height: 2em;
  margin-left: -3em;
}

.message {
  font-size: 16px;
  font-weight: 700;
  color: var(--error-color);
  text-align: center;
  padding: 8px;
}

.message::first-letter {
  text-transform: capitalize;
}
